# OS
.DS_Store

# Logs
*.log

# IDE
.idea/
*.iml
.vscode/

# Flutter
.dart_tool/
.pub/
.pub-cache/
build/
coverage/

# Flutter generated
.flutter-plugins
.flutter-plugins-dependencies
**/doc/api/
**/ios/Flutter/.last_build_id

# Android
.gradle/
android/app/debug/
android/app/profile/
android/app/release/

# iOS
ios/Pods/
ios/.symlinks/
ios/Flutter/ephemeral/

# Env
.env
.env.*

# Signing
*.jks
*.keystore
key.properties

# Firebase
google-services.json
GoogleService-Info.plist

# Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/
fastlane/test_output/

# Obfuscation
app.*.symbols
app.*.map.json